flask==3.0.3
numpy==1.26.4
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
scikit-learn==1.5.1
joblib==1.4.2



# cd isl
# python -m venv venv
# venv/bin/activate
# python setup.py              
# python app.py    
